/* Styling for Header and Navigation section */
header {
    background-image: linear-gradient(to bottom right, rgb(241, 179, 241), rgb(30, 152, 163));
    font-family: 'Raleway', sans-serif;
}
.list-group-item {
    background-color: transparent;
    border: none;
}
.btn {
    background-color: rgb(30, 152, 163);
}
.preview img {
    height: 315px; 
    object-fit: cover;
    object-position: 100% 0;
    opacity: .5;
}
.preview img:hover {
    opacity: 1;
}